<%- include('./partials/head') %>




    <div class="main">
        <div class="main-container">
            <div class="main-container-inner">
                <div class="inner-container">
                    <header>
                        <div class="logo">
                            <a href=""><img src=" https://avatars.githubusercontent.com/u/56436795?v=4" alt=""></a>
                        </div>
                        <div>
                            <ul>
                                <li class="email">
                                    <a
                                        href="mailto:stefanschooneveld@hotmail.com?subject=Response from the portfolio website">
                                        <i class="fa-solid fa-envelope fa-xl"></i></a>
                                    <!-- <a href=""><img src="./img/mail-logo.png" alt=""></a> -->
                                </li>
                                <li class="github">
                                    <a href="https://github.com/Prolite2003"><i
                                            class="fa-brands fa-github fa-xl"></i></a>
                                </li>
                                <li class="linkedin">
                                    <a href="https://www.linkedin.com/in/stefan-schooneveld-b230b0264/"><i
                                            class="fa-brands fa-linkedin fa-xl"></i></a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <main class="info-field">
                        <div class="text-box">
                            <div id="welcome" class="welcome">
                                <h1>Welcome</h1>
                                <span>
                                    <span>
                                        Welcome my name is Stefan Schooneveld, I'm a junior front-end developer
                                        studying at Hogeschool van Amsterdam.
                                    </span>
                                    <span>
                                        <%= member.bio.html %>
                                    </span>
                                </span>
                            </div>
                            <div id="aboutme" class="link">
                                <h2>About me</h2>
                                <span>
                                    <span>
                                        I'm <%= member.age %> years old, i'm studying to become a front end developer.
                                            Besides programming i also like learning new things in general, reading and
                                            playing chess (Live Elo: <%= member.chessrating %> ). I currently
                                                work at Starbucks i started in December 2021. If you are interested in
                                                me or wanna hire
                                                me, you can downlaod my CV down here or send me an email using the icon
                                                in the top right.
                                    </span>

                                    <span>
                                        <a class="cv" href="./docs/Stefan-Schooneveld-CV.pdf" target="_blank"
                                            download="Stefan-Schooneveld-CV.pdf">
                                            cv
                                        </a>

                                    </span>
                                </span>
                            </div>
                            <div id="experience" class="link">
                                <h2>Experience</h2> <span>
                                    <span>
                                        <!-- I have some junior experience with html, scss, javascipt, node and github. -->
                                        <ul>
                                            <li>I started with HTML in 2019
                                                <i class="fa fa-star checked"></i>
                                                <i class="fa fa-star checked"></i>
                                                <i class="fa fa-star checked"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>I started with SCSS in 2020
                                                <i class="fa fa-star checked"></i>
                                                <i class="fa fa-star checked"></i>
                                                <i class="fa fa-star checked"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>I started with Javascipt in 2021
                                                <i class="fa fa-star checked"></i>
                                                <i class="fa fa-star checked"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>I started with Node in 2023
                                                <i class="fa fa-star checked"></i>
                                                <i class="fa fa-star checked"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>I started with Github in 2019
                                                <i class="fa fa-star checked"></i>
                                                <i class="fa fa-star checked"></i>
                                                <i class="fa fa-star checked"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                    </span>
                                </span>
                            </div>
                            <div id="internships" class="link">
                                <h2>Internships</h2> <span>
                                    <span>
                                        <!-- I had a few internships, i started with a 2 week internship for Incentro, after
                                        that i did a 6 week internship at a elementary school because i wanted to see
                                        what
                                        its like to teach kids and at last i did a one year internship at ING, -->
                                        <ul>
                                            <li>
                                                <h3>Incentro:</h3>i started with a 2 week internship for Incentro
                                            </li>
                                            <li>
                                                <h3>obs de bijenkorf:</h3> i did a 6 week internship at a elementary
                                                school because i wanted to see
                                                what
                                                its like to teach kids
                                            </li>
                                            <li>
                                                <h3>ING:</h3>i did a one year internship at ING
                                            </li>
                                        </ul>
                                    </span>
                                </span>
                            </div>
                            <div id="projects" class="link">
                                <h2>Projects</h2> <span>
                                    <span>
                                        I am currently building a website for renting out a camper. 4 years ago I
                                        started building my first website for incentro, in the meantime I have grown in
                                        its development.
                                    </span>
                                    <span>
                                        <a href="./maintenance.html">Camping</a>
                                        <a href="./maintenance.html">Incentro</a>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="spacer"></div> -->
                        <div class="usefull-links">
                            <h2>More Information</h2>
                            <div class="links-wrapper">
                                <ul>
                                    <li><a href="#" onclick="HideShow('aboutme')" id="aboutmebutton"><span>About
                                                me</span></a></li>
                                    <li><a href="#" onclick="HideShow('experience')"
                                            id="experiencebutton"><span>Experience</span></a></li>
                                    <li><a href="#" onclick="HideShow('internships')"
                                            id="internshipsbutton"><span>Internships</span></a></li>
                                    <li><a href="#" onclick="HideShow('projects')"
                                            id="projectsbutton"><span>Projects</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>


    <%- include('./partials/foot') %>